.page {
  margin: 0 auto;
  max-width: 1440px;

  /* box-sizing: border-box; */

  font-family: 'Montserrat', sans-serif;
}

div {
  border: 1px solid red;
}


/* Header ============================================*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* padding: 0 34px 0 80px; */

  width: 100%;
  height: 116px;

  background-color: #FAFAFA;
}

.header__logo {
  width: 41px;
  height: 39px;

  margin-left: 80px;

  background: url(../images/header-logo.png) no-repeat center / cover;
}

.header__nav {
  /* height: 100px; */
}


/* Nav ===============================================*/
.nav__links {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav__item {
  margin-right: 30px;
}

.nav__item:last-of-type {
  margin: 0;
}

.nav__link {
  display: block;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  text-decoration: none;
}

.nav__link:hover {
  text-decoration: underline;
}


/* Button ============================================*/
.button {
  border-radius: 5px;
  cursor: pointer;

  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;

  transition: background .2s linear, color .2s linear;
}

.button + .button {
  margin-left: 16px;
}

.button:hover {
  color: #fff;
}

.button_size_s {
  margin-right: 34px;
  /* padding: 13px 24px; */

  width: 150px;
  height: 43px;

  border: 1px solid #F7941E;
  background-color: #FAFAFA;
  color: #F7941E;
}

.button_size_m {
  width: 200px;
  height: 50px;

  border: 1px solid #000;
  background-color: #F7941E;
  /* color: #F7941E; */
}

.button_size_l {
  width: 200px;
  height: 60px;

  border: 1px solid #F7941E;
  background-color: #F1F1F2;
  color: #F7941E;
}

.button_color_black:hover {
  background: #000;
}

.button_color_orange:hover {
  background: #F7941E;
}


/* Section ===========================================*/
.section-title {
  margin: 0 0 23px;
  min-width: 422px;

  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  text-align: center;
  color: #000;
}

.section-subtitle {
  margin: 0;
  min-width: 454px;

  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #000;
}


/* Info ==============================================*/
.info {
  display: flex;
  flex-direction: column;

}

.info__row {
  display: flex;
  /* width: 100%; */
  background-color: #F1F1F2;
}

.info__content,
.info__photo {
  width: 50%;
}

.info__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info__title {
  margin: 0 0 36px;
  width: 433px;

  font-size: 56px;
  font-weight: 700;
  line-height: 68px;
  color: #000;
}

.info__title_place_right {
  margin: 0 0 23px;

  font-size: 32px;
  font-weight: 400;
  line-height: 45px;
  color: #000;
}

.info__text {
  width: 422px;
}

.info__subtitle {
  margin: 0 0 52px;

  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #000;
}

.info__subtitle_place_right {
  text-align: justify;
}

.info__photo {
  /* display: block; */
  min-height: 700px;
  /* height: 100%; */

}

.info__photo_place_right {
  background: url(../images/info-bg-1.jpg) no-repeat center / cover;
}

.info__photo_place_left {
  background: url(../images/info-bg-2.jpg) no-repeat center / cover;
}


/* Gifts =============================================*/
.gifts {
  padding: 100px;
}

.gifts__inner {
  display: flex;
  justify-content: space-between;
}

.gifts__item {
  margin-top: 64px;
  display: flex;
  flex-direction: column;

  width: 270px;
  height: 436px;

  background-color: #FAFAFA;

  transition: background .2s linear, box-shadow .2s linear;
  cursor: pointer;
}

.gifts__item:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.gifts__item:hover .gifts__link {
  text-decoration: underline;
}

.gifts__image {
  width: 100%;
}

.gifts__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px;
}

.gifts__name {
  margin: 0;

  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
}

.gifts__link {
  display: block;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-decoration: none;
  color: #000;
}


/* Get-started =======================================*/
.get-started {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 240px;
  padding: 0 245px;

  background: #F7941E;
}

.get-started__title {
  margin: 0;

  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
  color: #000;
}

.get-started__subtitle {
  margin: 0;

  font-size: 32px;
  font-weight: 400;
  line-height: 45px;
  color: #000;
}


/* Blogs =============================================*/
.blogs {
  padding: 90px 135px 80px;
}

.blogs__inner {
  margin-top: 70px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blogs__main {
  width: 1170px;
  height: 370px;
  display: flex;

  background: #231F20;
}

.blogs__img {
  /* width: 100%; */
  /* height: 100%; */

  /* background: url(../images/blogs-img.jpg) no-repeat; */
}

.blogs__content {
  padding: 63px 190px 49px 78px;
}

.blogs__author {
  margin: 0 0 27px;

  font-size: 14px;
  line-height: 19px;
  color: #fff;
}

.blogs__title {
  margin: 0 0 60px;

  font-size: 48px;
  font-weight: 400;
  line-height: 57px;
  color: #fff;
}

.blogs__title_size_sm {
  font-size: 24px;
  line-height: 33px;
  color: #000;
}

.blogs__link {
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  color: #fff;
}

.blogs__link:hover {
  text-decoration: underline;
}

.blogs__row {
  display: flex;
  justify-content: space-between;
}

.blog__item {
  margin-top: 40px;
  padding: 48px;

  width: 570px;
  height: 290px;
}

.blog__item + .blog__item {
  margin-left: 30px;
}